<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Blog | <%= title %></title>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="blog-content-container">
    <h3 class="about-page-title">About</h3>
    <p class="about-content">
        Hey, I'm Vince Warren Pradas, the developer of this blog website. I'm the one who built it from scratch and this is my first project using a server side programming language framework called Node js, crafting every bit of it with care. Whether you're here to read, share your thoughts, or create your own blog, I'm here to make sure you have a smooth and enjoyable experience. So feel free to explore, write, and connect with others—it's what this site is all about.</p>
        <br>
        <p>This website is like a cozy cafe where you can sit back, relax, and share your stories with others. Whether you're into cooking, travel, or just want to chat about your day, there's something here for everyone. Think of it as your own little corner of the internet, where you can hang out, meet new people.</p>
        <br>
        <p>If you ever encounter a bug, I've placed some buttons below and will redirect you to my contact. You can send me some screenshots or something so I can fix it.</p>
        <div class="contacts">
            <button style="background: linear-gradient(to bottom, #FF6968, #A334FA);"><a href="https://www.facebook.com/messages/t/100014934677511/">Messenger</a></button>
            <button style="background: linear-gradient(to bottom, #0695FF, #077bd4);"><a href="https://web.telegram.org/k/#@vince691">Telegram</a></button>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
