<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Blog | <%= title %></title>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="create-page-container">
    <div class="form-container">
    <h1 class="create-page-title">Create New Blog Post</h1>
    <form action="/add-blog" method="POST" class="pass">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" required><br><br>

        <label for="content">Body:</label><br>
        <textarea id="content" name="description" rows="10" cols="50" required></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
</div>
</div>
</div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>
