<!DOCTYPE html>
<html lang="en">
    <title>Blog | <%= title %></title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/style-tw.css" type="text/css">
    <script src="/client.js"></script>
<%- include('./partials/head.ejs') %>
<body class="bg-yellow-50/25">
    <%- include('./partials/nav.ejs') %>
    <h1 style="padding:100px">Oops! Error 404 url does not exist</h1>
    <%- include('./partials/footer.ejs') %>
    
    <script src="/public/client.js"></script>
</body>
</html> 